.side-bar{
     position: sticky;
     top:25px;
     min-width: 245px;
     max-height: 100vh;
     padding: 0 40px;
     &__link {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
          &:hover {
               color:grey;
          }
     }

}