
@import "assets/scss/header";
@import "assets/scss/side-bar";
@import "assets/scss/item-block";
@import "assets/scss/game-card";
@import "assets/scss/games-list";
@import "assets/scss/game-details";
@import "assets/scss/search-games";

html {
  box-sizing: border-box;
  max-height: 100%;
  height: 100%;
  overflow-x:hidden

}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #151515;
  color:#fff;
  font-family: 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100%;
}


li,ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color:inherit;
}


.page-content {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.scroll-totop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
  transition: 0.3s;
  svg{
    width: 90%;
    height: 90%;
  }

  &:hover{
    background: #656565;
    color: yellow;
  }

}

main {
  width: 100%;
  padding: 60px 60px 60px 0;
}



